/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.tt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.booki {
    width: 60px; /* Taille souhaitée en pixels */
    height: auto; /* Pour conserver les proportions */
}

/* Style des onglets */

.tab a.active-tab:hover{
    color:blue;
    border-top: 2px solid #0065FC;
    padding-top: 16px; /* hauteur de la barre */
}

.tab a.active-tb:hover{
    color:blue;
    border-top: 2px solid #0065FC;
    padding-top: 16px; /* hauteur de la barre */
    margin: 0;
}

.tab a.active-tab{
    margin-right: 20px;
}


.tab a {
    cursor: pointer;
    padding: 10px 0px;

}

.formulaires {
    display: flex;
    width: 400px; /* Ajuste la largeur du formulaire */
    max-width: 600px; /* Limite la largeur maximale */
    margin-top: 50px;
    border-radius:  0 20px 20px 0; /* Arrondi les coins du formulaire */
    margin-bottom: 10px;
}

.logo {
    display: flex; /* Aligne les éléments horizontalement */
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius:  20px 0px 0px 20px;
    align-items: center; /* Centre les éléments verticalement */
    justify-content: space-around; 

}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #F2F2F2 ;
    font-weight: bold ;
  
}

.submit-button {
    background-color:#0065FC;
    color: #fff;
    border: none;
    border-radius: 0 20px 20px 0; /* Arrondi uniquement le coin droit du bouton */
    padding: 0 20px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button .fas.fa-search {
    display: none; /*n'apparait pas sur les grands écrans  */
}

.filtre {
    margin-bottom: 20px;
}

.filters-section {
    margin-top: 20px; /* Ajoute de l'espace au-dessus de la section */
    display: flex; /* Aligne les éléments horizontalement */
    cursor: pointer;
}

.filter-row {
    display: flex; /* Aligne les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */    
    width: 600px ; /* Largeur de la ligne */
    justify-content: space-around; /* Répartit l'espace entre les éléments enfants de manière égale */
    margin-bottom: 10px; /* Ajoute une marge en bas pour l'espace entre le titre et les colonnes */
}

.filter-item {
    text-align: center; /* Centre le contenu horizontalement */
    padding: 10px; /* Ajoute de l'espace à l'intérieur de chaque colonne */
    border: 1px solid #ccc; /* Ajoute une bordure de 1px solide gris */
    border-radius: 20px 20px 20px 20px; /* Ajoute un rayon de bordure de 5px pour rendre les coins arrondis */
    margin: 0 5px; /* Ajoute un espace entre les colonnes */
}

.filter-item:hover {
    background-color:#DEEBFF; /* Couleur bleue au survol */
}
.filter-item .filter-label {
    font-weight: bold;
}

.logement {
    display: flex;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements {
    background-color: var(--main-bg-color);
}

.hebergements-cards {
    display:flex;
    flex-wrap: wrap; /* remet à la ligne les éléments qui dépasse  */
    justify-content: space-around; /* Les éléments sont répartis équitablement À chaque extrémité, entre le bord du conteneur et le premier/dernier élément on a la moitié de l'espace appliqué  */
}

.hebergements-cards .card {
    height: 180px;
    width: 230px;
    margin-top: 30px;
    margin-left: 10px;
}

.hebergements-cards img {
    width: 100%;
    height: 100px;
    border-radius: 10px;
}

.hebergements-cards .card-content {
    height: 40%;
    display: flex;
    flex-direction: column;/* Affiche les éléments en colonne */
    justify-content: space-between; /*Espacement égal entre les éléments  */
    box-sizing: border-box; /* Inclut les marges et les bordures dans la largeur */
}

.hebergements-cards .card-title {
    text-align: left;
    margin-bottom: 4px;
	margin:0;
}

.hebergements-cards .card-subtitle {
    margin:0;
}

.hebergements-cards .card-rating {
	margin:0;
    text-align: left;
}

.AP { 
    margin-top: 5px;
    font-weight: bold;
    cursor: pointer;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);
    width: 32%;
    order: 2;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    object-fit: cover;
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.activites {
    order: 3;
}

.activites-title {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.activites-cards {
    margin-top: 20px;
    display: flex;
}

.activites-cards .card {
    padding: 0px;
    width: 100%;
    height: 410px;
    margin-left: 35px;
    box-sizing: border-box; /* Pour inclure les marges dans le calcul de la largeur */    
}

.activites-cards img {
    width: 100%;
    height: 350px;
    border-radius:  10px 10px 0px 0px;
}

.activites-cards .card-title{
    display: flex;
    margin-left: 8px;
    box-sizing: border-box;
}

footer {
    background-color: #f2f2f2; /* Fond gris clair */
    padding: 20px;
    margin-top: 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    margin-right: 20px; /* Espace entre les colonnes */
}

.footer-column h4 {
    font-weight: bold; /* Texte en gras */
}

/****** Media queries ***********/
/* Styles pour les dispositifs de taille moyenne (tablettes, inférieurs ou égaux à 1024px) */
@media(max-width: 1023.98px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-cards .card {
        width: 150px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards .card {
        width: 145px;
        height: 240px;
        margin-left: 15px;
    }
    .activites-cards img {
        height: 170px;
    }

    .filters-section {
        display: flex; /* Aligne les éléments horizontalement */
        flex-direction: column;
    }   
}
/* Styles pour les dispositifs de taille moyenne (ordinateur, supérieurs ou égaux à 1024px et inférieurs ou égaux à 1439.98px) */
@media (min-width: 1023.98px) and (max-width: 1439.98px) {

    /* Ajustement de la largeur des cartes Hebergements */
    .hebergements-cards .card {
        width: 33%;
    }

    /* Ajustement de la largeur des cartes Activites */
    .activites-cards .card {
        margin-left: 15px;
        width: 90%;
        height: 410px;
    }
    
}

/* Styles pour les dispositifs de petite taille (smartphones, inférieurs ou égaux à 767.98px) */
@media (max-width: 767.98px) {

    .main-container{
        padding: 0;
    }

    /* Réorganisation de l'en-tête en colonne */
    .tt {
        flex-direction: column;
        padding: 10px;
    }

    .tab {
        width:100%;
        margin-top: 10px;
        display: flex;
    }
    

    .tab a {
        text-align: center; /* Centrer le texte */
        width:auto;
    }
    
    .tab a.active-tab {
        color: black;
        border-bottom: 2px solid #F2F2F2;
        margin: 0;
        width: 100%;

    }

    .tab a.active-tab:hover{
            color:blue;
            border-top: 0;
            border-bottom: 2px solid blue;
            margin: 0;
            padding: 10px 0px;

    }

    .tab a.active-tb {
        color: black;
        border-top: 0;
        border-bottom: 2px solid #F2F2F2;
        margin: 0;
        width:100%;
    }

    .tab a.active-tb:hover{
        color:blue;
        border-top: 0;
        border-bottom: 2px solid blue;
        margin: 0;
        padding: 10px 0px;

    }



    .form {
        padding: 20px; /* Ajouter de l'espace autour du formulaire */
    }

    .formulaires {
        width: auto; /* Pleine largeur */
    }


    .search-input {
        width:90%;
        border-right: 0;
    }

    .submit-button{
        border-radius: 20px;
        margin-left: -15px;
        box-shadow: 1px 4px 4px 0px rgba(0, 0,0, .2);
    }

    
    .submit-button .p{
       display:none /*L 'écriture "Rechercher" n'apparaît plus  */
    }

    /* Styles pour l'icône de loupe dans le bouton */
    .submit-button .fas.fa-search {
        display:flex; /* on fait apparaître l'cone loupe */
    }

    
    .filter-row {
        flex-wrap: wrap; /* Afficher les filtres sur plusieurs lignes si nécessaire */
        justify-content: center; /* Aligner les icônes onglet a gauche  */
        width:100%;
    }

    .filter-item i {
        font-size: 13px; /* Réduire la taille de l'icône */
    }

    .filter-item .filter-label {
        font-size: 13px; /* Réduire la taille du texte */
    }

    .filter-item {
        margin-bottom: 5px;
        padding:6px;
        width: 40%; /* Largeur des filtres */
    }


    .hebergements-and-populaires section {
        flex-direction: column; /* Afficher les sections en colonne */
        border-radius: 0px;
        padding:10px 10px 30px 10px;
 
    }

    .hebergements {
        order: 2;
        width: 100%; /* Pleine largeur */
        height: 100%;
        background-color: white;
    }

    .hebergements-title{
        margin-top: 20px;
    }

    .hebergements-cards {
        flex-direction: column;

    }

    .hebergements-cards .card {
        width: 95%;
        height: 100%;
    }

    .populaires { 
        order: 1;
        width: 100%;
        flex-direction: column;
        margin-top: 0;
       
    }

    .populaires-title{
        margin-top: 15px;
    }

    .populaires-cards  {
        width:330%;
        box-sizing: border-box;
        flex-direction: column;
    }

    .activites {
        width: 100%; /* Pleine largeur */
        width: auto;
        order: 3;
    }

    .activites-cards {
        flex-direction: column;
        margin-top: 33px;
    }

    .activites-cards .card {
        width:95%;
        height: 100%;
        margin-bottom: 10px;
    }

    .activites-cards img {
        width: 100%;
        height: 150px;
    }
    .activites-cards .card-title {
        padding: 0px 20PX 15PX;
    }

    .footer-content {
        flex-direction: column;
    }
}
